* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
    padding: 20px;
}

.display input {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.keys button {
    height: 70px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #f2f2f2;
    transition: background-color 0.2s ease;
}

.keys button:hover {
    background-color: #e6e6e6;
}

.keys button:active {
    background-color: #d9d9d9;
}

.keys button:last-child {
    grid-column: 3 / 5;
    background-color: #ff9800;
    color: #fff;
}

.keys button:last-child:hover {
    background-color: #f57c00;
}

.keys button:last-child:active {
    background-color: #ef6c00;
}